<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :headline %>
    <%= form.text_field :headline, id: :article_headline %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :article_text %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.text_field :data, id: :article_data %>
  </div>

  <div class="field">
    <%= form.label :station %>
    <%= form.select :station, options_for_select([['Bitcoins', 'bitcoins'], ['Bonsticks', 'bonsticks']]), id: :article_station %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.number_field :count, min:1, id: :article_count %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
