<%= link_to 'New Article', new_article_path %>

<p id="notice"><%= notice %></p>
<h5>Куср:</h5>
<h5>1 биткоин: <%= @ekv %></h5>
<h5>1 бонстик: 0.75$</h5>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Headline</th>
      <th>Station</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= link_to article.headline, article %></td>
        <td><%= article.station %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @posts %>
