<p id="notice"><%= notice %></p>

<h1>B2 Bs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Phone</th>
      <th>Name</th>
      <th>Sell currency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @b2_bs.each do |b2_b| %>
      <tr>
        <td><%= b2_b.title %></td>
        <td><%= b2_b.body %></td>
        <td><%= b2_b.phone %></td>
        <td><%= b2_b.name %></td>
        <td><%= b2_b.sell_currency %></td>
        <td><%= link_to 'Show', b2_b %></td>
        <td><%= link_to 'Edit', edit_b2_b_path(b2_b) %></td>
        <td><%= link_to 'Destroy', b2_b, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New B2 B', new_b2_b_path %>
