<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @b2_b.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @b2_b.body %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @b2_b.phone %>
</p>

<p>
  <strong>Name:</strong>
  <%= @b2_b.name %>
</p>

<p>
  <strong>Sell currency:</strong>
  <%= @b2_b.sell_currency %>
</p>

<%= link_to 'Edit', edit_b2_b_path(@b2_b) %> |
<%= link_to 'Back', b2_bs_path %>
