<p><%= comment.content %></p>
<span style="font-size:0.8em">Posted by <%= comment.user.email %> <%= time_ago_in_words(comment.created_at) %></span></p>
<% if user_signed_in? %>
  <% if comment.user_id == current_user.id %>
    <%= link_to "Edit", edit_ad_comment_path(comment.ad, comment) %>
    <%= link_to "Delete", ad_comment_path(comment.ad, comment), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
<% end %>
