<div class="container create-phrase">
  <button type="button" class="btn btn-success">Создать фразу</button>
</div>

<div class="container phrases">

  <% @phrases.reverse_each do |phrase| %>
      <div class="well phrase" data-id=<%= phrase[:_id] %>>
        <div class="proposal">
          <% phrase[:words].each do |word| %>
              <span class="word" data-id=<%= word[:_id] %> data-username="<%= word[:owner][:username] %>" data-name=<%= word[:owner][:name] %> data-time="<%= word[:date].to_s %>" > <%= word[:text] %> </span>
          <% end %>

          <div class="controls">
            <div class="add-phrase input-group">
              <input placeholder="Добавьте слово" type="text" class="form-control" maxlength="12">
              <span class="input-group-btn">
              <button class="btn btn-success" type="button">
                <span class="glyphicon glyphicon-ok"></span>
               </button>
             </span>
            </div>
            <button class="remove-phrase btn btn-danger" type="button">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>

        </div>

        <div class="strap"></div>
      </div>
  <% end %>

</div>
