<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Phrases</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>

<%= erb :header %>

<%= yield %>

<%= erb :footer %>

<%= erb :signInModal %>
<%= erb :signUpModal %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment-with-locales.js"></script>

<script type="text/javascript" charset="utf-8">
  var socket = new WebSocket("ws://localhost:3001");
</script>

<script src="js/updatePhrasesListeners.js" type="text/javascript"></script>
<script src="js/createPhraseListeners.js" type="text/javascript"></script>
<script src="js/signInListeners.js" type="text/javascript"></script>
<script src="js/signUpListeners.js" type="text/javascript"></script>
<script src="js/websockets.js" type="text/javascript"></script>
</body>
</html>