
<div class="jumbotron">
  <h2>Введите след слово!</h2>
  <p>Фраза: <%=@hash[@id]["text"]%></p>
	<form action='/edit?id=<%= @id%>' method='post' >
  	<input type="text" name='new_word' required="required" pattern="[A-Za-zА-Яа-яЁё]{1,30}[,:-?]?" 		placeholder="Input next word" value="<%=params["new_word"]%>" autofocus>
  	<input class="btn btn-success" type='submit' value='Submit'>
</form>

</div>

<table class="table table-striped">
  <thead>
  	<tr>
		<th>Имя</th>
		<th>Слово</th>
		<th>Время Добавления</th>
  	</tr>
  </thead>
  <tbody>
	<% @hash[@id]["history"].each do |key, value| %>
	<tr>
		 <th><%=value["id_user"]%></th>
		 <th><%=value["text"]%></th>
		 <th><%=value["time"]%><br></th>
	</tr>
	<% end %>
  </tbody>
</table>