<h1>New Announcement</h1>
<%= form_with scope: :announcement, url:announcements_path, local:true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.label :contacts %><br>
    <%= form.text_area :contacts %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', announcements_path %>
