<%= form_for(saying) do |f| %>
  <% if saying.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(saying.errors.count, "error") %> prohibited this saying from being saved:</h2>

      <ul>
      <% saying.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
