<%= form_with(model: @article, local: true) do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, 'error') %>
        prohibited this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.text_field( :title, placeholder: 'Title', class: 'form-control-custom') %>
      </div>
      <div class="form-group">
        <%= form.text_area( :text, placeholder: 'Text', class: 'form-control-custom') %>
      </div>
      <div class="form-group">
        <%= form.text_field( :info, placeholder: 'Info', class: 'form-control-custom') %>
      </div>
      <%= form.submit(class: 'btn btn-success') %>
    </div>
  </div>

<% end %>

