<h1>All ads</h1>
<%= link_to 'New article', new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Contact details</th>
    <th></th>
  </tr>

  <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%=	article.contact_details %></td>
        <td><%= link_to 'Show', article_path(article) %></td>
      </tr>
  <% end %>
</table>