<h3 class="text-warning padding-top-50 text-center"><%= @error %> </h3>

<h1 class="text-center padding-top-50"><%= return_all_words("sentence_#{@sentence_id_my}")%> </h1>

<div class="text-center padding-top-50">
	<form action="/word/attempt/<%=@sentence_id_my%>" method='post' class="form-inline well">
	  <input type="text" name='word' placeholder="word" autofocus>
	  <input class="btn btn-default" type='submit' value='ADD'>
	</form>
</div>



<ul class="list-group padding-top-50">
<% return_name_with_sentence("sentence_#{@sentence_id_my}").reverse.each do |a|%> 

	<li class="list-group-item"> <%= "#{a[0]} (#{a[3]}): #{a[1]}"%> <b> <%= "#{a[2]}" %> </b></li>
<% end %>
</ul>



