<h3 class="text-warning padding-top-50 padding-bottom-50 text-center"><%= @error %> </h3>

<ul class="list-group">
<% return_array_sentence.each_with_index do |sentence, index| %>
  <% if available_sentence?(index + 1)%> 
     <div class="list-group-item dropdown">
        <a href="/add/word/<%= index + 1 %>" class="list-group-item dropdown"> <%= sentence %>
            <button class="btn btn-default dropdown-toggle btn-pencil" type="button" data-toggle='dropdown'>
             <span class="glyphicon glyphicon-plus"></span>
            </button>
            <% if username != "" %>
              <div class="dropdown-menu dropdown-menu-right">
                <form id="formLogin" action="/word/attempt/<%= index + 1%>" method='post' class="form container-fluid">
                  <div class="form-group">
                    <label for="usr">Write :</label>
                    <input type="text" class="form-control" name='word' placeholder="word" autofocus>
                  </div>
                  <input class="btn primary" type='submit' value='ADD'>
                </form>
             </div>
            <% end %>
        </a>
         
     </div>
  <% else %>
     <li class="list-group-item dropdown">
       <a href="/mistake" class="list-group-item list-group-item-danger"> <%= sentence %> </a>
     </li>
  <% end %>
            
<% end %>


