<nav class="navbar navbar-default fixed-nav-bar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-list-alt"></span> Expensy </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Link<span class="sr-only">(current)</span></a></li> -->
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li><a href="/categories"><span class="glyphicon glyphicon-tasks"></span> Categories </a></li>
        <li><a href="/"><span class="glyphicon glyphicon-th-list"></span> View Expenses </a></li>
        <li><a href="/expenses/new"><span class="glyphicon glyphicon-edit"></span> Add New Expense</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/users/<%= current_user.id %>/edit"><span class="glyphicon glyphicon-cog"></span> Edit User Info</a></li>

            <li role="separator" class="divider"></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<h1 style="color: white; margin: 30px 10px;"><%= @category.name %> expenses are $<%= @category.expenses.collect {|e| e.amount}.sum %></h1>

<div class="container" >
  <div class="row">
    <div class="jumbotron" style="background: white; border-radius:20px;">
      <% if flash.has?(:message) %>
      <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p><%= flash[:message] %> </p>
      </div>
      <% end %>
      <table class="table table-hover table-striped" >
      <tr class="info">
        <th><h4>Description</h4></th>
        <th><h4>Amount</h4></th>
        <th><h4>Date</h4></th>
        <th><h4></h4></th>
      </tr>
        <% @category.expenses.sort_by {|hash| hash[:date]}.reverse.each do |expense| %>
          <tr style="text-align:left;">
            <td><%= expense.description %></td>
            <td>$ <%= expense.amount %></td>
            <td><%= expense.date %></td>
            <td><a href="expenses/<%= expense.id %>/edit">Edit <span class="glyphicon glyphicon-pencil"></span></a></td>
          </tr>
        <% end %>
      </table>
    </div><!-- end well -->
  </div><!-- end row -->
</div><!-- end container -->
