  <div class="container receipt" style="width:400px;">
    <div class="row">
      <div class="jumbotron" style="background: white; border-radius:20px;">
        <h2>Expense Receipt</h2>
        <h3>Description</h3>
        <p ><%= @expense.description %></p>
        <h3>Amount</h3>
        <p ><stron>$ </stron><%= @expense.amount %></p>
        <h3>Date</h3>
        <p ><%= @expense.date %></p>
        <h3>Category</h3>
        <p ><%= @expense.category.name %></p>
        <a href="/expenses/<%= @expense.id %>/edit"><span class="glyphicon glyphicon-pencil"></span> Edit Expense </a>
        <hr>
        <a href="/expenses"><span class="glyphicon glyphicon-th-list"></span> View Expenses</a>
      </div> <!-- end jumbotron -->
    </div> <!-- end row -->
  </div> <!-- end container -->

  <div class="row">
    <form action="/expenses/<%= @expense.id %>/delete" method="post">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
      <button type="submit" class="btn btn-danger">Delete Expense</button>
    </form>
  </div> <!-- end row -->
