  <nav class="navbar navbar-default fixed-nav-bar">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-list-alt"></span> Expensy </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!-- <li class="active"><a href="#">Link<span class="sr-only">(current)</span></a></li> -->
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/"><span class="glyphicon glyphicon-th-list"></span> View Expenses </a></li>
          <li><a href="/categories"><span class="glyphicon glyphicon-tasks"></span> Expense Categories / Add New </a></li>
          <li><a href="/expenses/<%= @expense.id %>/edit"><span class="glyphicon glyphicon-pencil"></span> Edit Expense </a></li>
          <li><a href="/expenses/new"><span class="glyphicon glyphicon-edit"></span> Add New Expense</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/users/<%= current_user.id %>/edit"><span class="glyphicon glyphicon-cog"></span> Edit User Info</a></li>

              <li role="separator" class="divider"></li>
              <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container receipt" style="width:400px;">
    <div class="row">
      <div class="jumbotron" style="background: white; border-radius:20px;">
        <h2 style="margin:auto;">Expense Receipt</h2>
        <hr>
        <h3>Description</h3>
        <p ><%= @expense.description %></p>
        <h3>Amount</h3>
        <p ><stron>$ </stron><%= @expense.amount %></p>
        <h3>Date</h3>
        <p ><%= @expense.date %></p>
        <a href="/expenses"><span class="glyphicon glyphicon-th-list"></span> View Expenses</a>
      </div> <!-- end jumbotron -->
    </div> <!-- end row -->
  </div> <!-- end container -->
