<p id="notice"><%= notice %></p>

<div class="header">
  .
  </div>
<h1>   Exchange Bonstics to Bitcoins</h1>

<div class="newPost">

<%= link_to 'New Post', new_post_path %>
</div>

<table class="table">
  <thead>
    <tr>

    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td class="col-md-3"><%= post.title %></td>
        <td class="col-md-4"><%= post.text %></td>
        <td class="col-md-3"><%= post.contact %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

