<div class='alert alert-message'><%= @phrase; %> </div>
<% unless params["phrase"].nil? %>
<div class='alert alert-message'>Your phrase is incorrect. It has bad symbols. Try to enter it again.</div>
<% end %>
<div class="alert alert-info">&nbsp;&nbsp;История:
<div class='alert alert-message'>
<ul>
<% temp = "" if temp.nil? %>
<% 0.upto(@history.size - 1) do |i| %>
<li>
<%=@history[i]["created_by"]%> (<%=Time.at(@history[i]["time"]).strftime "%d-%m-%Y %H:%M"%>
): "<%= temp %><% unless i.zero?%> <%end%><b><%=@history[i]["value"]%></b>"
<% temp =[temp, @history[i]["value"]].reject(&:empty?).join(' ') %>
</li>
<% end %>
</ul>
</div>
</div>
<form action='/edit?id=<%= @id %>' method='post' class="form-inline well">
  <input type="text" name='phrase' placeholder="Continue a phrase" autofocus>
  <input class="btn btn-success" type='submit' value='Submit'>
</form>
